.loginPage {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - 60px);
    background-color: #d5e3fd;
    padding: 1rem;
}

.loginForm {
    margin: auto;
    padding: 4rem 2rem;
    background-color: #fff;
    width: fit-content;
    width: 100%;
    max-width: 480px;
}

.header {
    color: #0c1a30;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 3rem;
    line-height: 2.5rem;
}

.authErrorMessage {
    width: 100%;
    padding: 1rem;
    color: red;
    border: 1px solid red;
    border-radius: 0.5rem;
    background-color: rgba(255, 0, 0, 0.253);
    margin-bottom: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputLabel {
    color: #0c1a30;
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    margin-bottom: 1rem;
}

.required {
    color: red;
}

.input {
    padding: 1rem;
    border: none;
    background-color: #f5f5f5;
    color: #0c1a30;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.error {
    color: red;
    font-size: 0.8rem;
    margin-bottom: 2rem;
}

.forgotPassword {
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: 1rem;
    color: #0c1a30;
}

.submitButtom {
    width: 100%;
    background-color: #3669c9;
    padding: 1rem;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    border-radius: 0.5rem;
    margin-bottom: 3rem;
    cursor: pointer;
}

.loaderContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
}

.submitButtom:disabled {
    background-color: lightgray;
}

.authAlternate {
    color: #0c1a30;
    font-size: 1rem;
    font-weight: 500;
}

.authAlternate > a {
    color: #3669c9;
    text-decoration: none;
    font-weight: 500;
    margin-left: 1rem;
}
