.homePage {
    width: 100%;
    padding: 2rem;
}

.homeContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 100%;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.productLink {
    text-decoration: none;
}

@media screen and (max-width: 480px) {
    .homePage {
        padding: 0.5rem;
    }
}
